body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-image:	url("assets/images/page-background.png");
	background-color: beige;
}
header {
	font-family: 'Georgia', Times, Times New Roman, serif;
	right: 0;
	left: 0; 
	border-bottom: 2px solid gray;	
	height: 63px;
	width: 960px;
}
footer {
	position:absolute;
  bottom:0;
	text-align: center;
	background-color: #666666;
	color: #a7a9bb;
	right: 0;
	left: 0;
	height: 63px;
	border-top: 10px solid #4ba9a5;
}
h1 {
	color: #4ba9a5;
	font-size: 20px;
}
.nametab {
	background-color: #4ba9a5;
	height: 63px;
	color: white;
	line-height: 63px;
}
.headernavlinks {
	color: #4ba9a5;
}
.headernavlinks a {
	text-decoration: none;
	color: #4ba9a5;
}
.myface {
	width:200px;
	height:220px;
	float: left;
	padding-right: 20px;
}
.contentinside {
	min-height: 100%;
	margin: auto;
	margin-top: 40px;
	width:	960px;
}
.mainsection {
	width: 610px;
	float: left;
	background-color: #ffffff;
	padding: 20px;
	margin-right: 40px;
}
.sidebar {
	width: 230px;
	float: right;
	background-color: #ffffff;
	padding: 20px;
}
.socialicon {
	width: 70px;
	height: 70px;
}
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}